name: profile_page_test
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  #lagring utenom firebase 
  sqflite: ^2.0.0+3
  intl: ^0.16.1 #denne fucka 0.17.0 før
  image_picker: ^0.8.0+3 # denne fucka
  http: ^0.12.2 #egt 0.13.3, men noen av firebasebibliotekene takler ikke. overrider.l: path_provider: ^2.0.2
  provider: ^5.0.0
  path_provider: ^2.0.2
  





  #alt til maps 
  geolocator: ^7.2.0+1 #denne fucka opp
  geocoder: ^0.2.1
  mapbox_search: ^2.1.0+1 #egentlig^2.1.0+1 #denne fucka opp ikke nå lenger wii
  mapbox_search_flutter: ^1.0.6+1
  mapbox_gl: ^0.11.0
  mapbox_geocoding: "^0.1.3"
  location: ^4.3.0 #denne fucka opp
  location_web: ^3.1.1 #denne fucka opp
  latlng: ^0.1.0
  color: ^2.1.1


  #alt til firebase
  firebase_core: "^0.7.0"
  quiver: ^2.0.0 #3.0.0 før, men hvis du skal bruke firebase_core 0.7.0 måtte det være 2.0.0 Den er overridet slik at firebase_core_platform_interface skal kunne kjøre om du trenger den. 
  firebase_auth: "^0.20.0"
  firebase_crashlytics: "^0.4.0+1"
  cloud_firestore: "^0.16.0+1"
  cloud_functions: "^0.9.0"
  #firebase_storage: ^9.0.0
  firebase_messaging: "^8.0.0-dev.15"
  firebase_core_platform_interface: ^3.0.2-nullsafety.0

dependency_overrides:
  quiver: ^3.0.0
  http: ^0.13.3
  http_parser: ^3.1.3
  plugin_platform_interface: ^1.0.0




  flutter:
    sdk: flutter

  




dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  fonts:
    - family: Raleway
      fonts:
        - asset: assets\fonts\fonts\Raleway-Regular.ttf
        - asset: assets\fonts\fonts\Raleway-Bold.ttf
          weight: 700
        - asset: assets\fonts\fonts\Raleway-Black.ttf
          weight: 900

    - family: RobotoCondensed
      fonts:
        - asset: assets\fonts\fonts\RobotoCondensed-Bold.ttf
          weight: 700
        - asset: assets\fonts\fonts\RobotoCondensed-Italic.ttf
          style: italic
        - asset: assets\fonts\fonts\RobotoCondensed-Light.ttf
          weight: 300
        - asset: assets\fonts\fonts\RobotoCondensed-Regular.ttf  
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
  assets: 
  - assets\config.json
  - assets\images\location_pin.png 
